* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 138, 180);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto;
    background: rgb(248, 72, 72);
}

nav {
    flex: 2;
    text-align: left;
    padding-bottom: 12px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav a:hover {
    color: rgb(53, 73, 245) !important;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.Content {
    max-width: 1300px;
    margin: auto;
    padding: 40px;
}

.Content .row {
    margin-top: 70px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column1 h1 {
    font-size: 55px;
    margin: 25px 0;
    color: white
}

img {
    width: 500px;
}

.column1 p {
    font-weight: 400;
}

button {
    display: inline-block;
    background: #ff008c;
    color: #c299f1;
    margin: 40px 0;
    border-radius: 30px 0px;
    border: 5px double yellow;
    padding: 14px 20px;
    font-size: 20px;
}

button:hover {
    background: #f37543;
    color: rgb(105, 22, 116);
}

.footer {
    background: #000000;
    color: #faf6f6;
    font-size: 24px;
    padding: 25px;
}